table {
  width: 80%;
  height: 80%;
  margin: auto;
}

  table tr {
    height: 33%;
  }

    table tr td {
      border: 1px solid black;
      text-align: center;
      width: 33%;
      vertical-align: middle !important;
    }

div {
    text-align: center;
}

span {
  font-size: 60px;
}

div#player {
    margin: 10px;
}
    div#player span {
        font-size: 20px !important;
    }
