table {
  width: 80%;
  height: 80%;
}

  table tr {
    height: 33%;
  }

    table tr td {
      border: 1px solid black;
      text-align: center;
      width: 33%;
      vertical-align: middle !important;
    }

span {
  font-size: 100;  
}

div#result {
  text-align: center;
}